In [1]:
# necessary imports
import numpy as np
import os
import seaborn as sns
import scipy.stats as stat
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import warnings
warnings.filterwarnings("ignore")
import wrangle as wra
import env
from sklearn.model_selection import train_test_split

In [2]:
# build query and look at data
zillow_query = """
        select bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, garagecarcnt, lotsizesquarefeet, yearbuilt, fips
        from properties_2017
        join predictions_2017 using (parcelid)
        where propertylandusetypeid = '261'
        AND YEAR(transactiondate) = 2017;
        """

zillow_df = wra.get_zillow_data(zillow_query)

zillow_df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,garagecarcnt,lotsizesquarefeet,yearbuilt,fips
0,4.0,3.5,3100.0,1023282.0,2.0,4506.0,1998.0,6059.0
1,2.0,1.0,1465.0,464000.0,1.0,12647.0,1967.0,6111.0
2,3.0,2.0,1243.0,564778.0,2.0,8432.0,1962.0,6059.0
3,4.0,3.0,2376.0,145143.0,NaN,13038.0,1970.0,6037.0
4,4.0,3.0,2962.0,773303.0,NaN,63000.0,1950.0,6037.0

In [3]:
df = zillow_df

In [5]:
# see if the rows are the desired 52K
df.shape

(52441, 8)